streamlit==1.42.1
pandas==2.2.3
google-api-python-client==2.161.0
transformers==4.48.3
torch==2.1.2
scipy==1.13.1
plotly==5.13.0
emoji==2.14.1
matplotlib==3.9.4
wordcloud==1.9.4
langdetect==1.0.9
spacy==3.8.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.3/en_core_web_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/uk_core_news_sm-3.8.3/uk_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.3/fr_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.3/de_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.8.3/it_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.8.3/ja_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.8.3/ko_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.8.3/pl_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.3/pt_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.8.3/ru_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.3/es_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/sv_core_news_sm-3.8.3/sv_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ro_core_news_sm-3.8.3/ro_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.3/nl_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/hr_core_news_sm-3.8.3/hr_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.8.3/el_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/sl_core_news_sm-3.8.3/sl_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/nb_core_news_sm-3.8.3/nb_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/mk_core_news_sm-3.8.3/mk_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/lt_core_news_sm-3.8.3/lt_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fi_core_news_sm-3.8.3/fi_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.8.3/da_core_news_sm-3.8.3-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ca_core_news_sm-3.8.3/ca_core_news_sm-3.8.3-py3-none-any.whl
