absl-py==1.3.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.2.0
annotated-types==0.7.0
ansi2html==1.8.0
anyio==4.6.2.post1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.5.2
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==3.3.0
blinker==1.7.0
blis==1.2.0
ca_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ca_core_news_sm-3.8.0/ca_core_news_sm-3.8.0-py3-none-any.whl#sha256=e214211aa8da91c24ebdc453c2aa5f54fac09f44e01e65bcbdd3b0a5cb94d809
cachetools==5.2.0
catalogue==2.0.10
certifi==2023.5.7
cffi==1.14.5
charset-normalizer==2.0.12
click==8.1.3
cloudpathlib==0.20.0
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
cycler==0.10.0
cymem==2.0.11
da_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.8.0/da_core_news_sm-3.8.0-py3-none-any.whl#sha256=8caeb4dc26f56de8abcf70399b202a0b2223d38664b1a59f1cb8db0000808bc9
dash==2.8.1
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dashserve==0.2.1
datasets==3.3.0
DAWG-Python==0.7.2
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl#sha256=fec69fec52b1780f2d269d5af7582a5e28028738bd3190532459aeb473bfa3e7
debugpy==1.8.9
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.6
distro==1.9.0
Django==4.1
el_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.8.0/el_core_news_sm-3.8.0-py3-none-any.whl#sha256=18df59b7f099a20d6f7cc1f964a57408a4c1663b73b5110932c1ea24f66e3027
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.3
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastjsonschema==2.21.0
fi_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fi_core_news_sm-3.8.0/fi_core_news_sm-3.8.0-py3-none-any.whl#sha256=5b9bd1496f500c1fac98f5e6a5d3913aa502f188c094ecea191dc6b8a81f418d
filelock==3.8.0
Flask==2.2.2
flatbuffers==24.3.25
fonttools==4.56.0
fqdn==1.5.1
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29
frozenlist==1.5.0
fsspec==2024.12.0
funcy==2.0
gast==0.4.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.18.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.67.0
grpcio==1.50.0
h11==0.14.0
h5py==3.12.1
hr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/hr_core_news_sm-3.8.0/hr_core_news_sm-3.8.0-py3-none-any.whl#sha256=393ad455bba13536e6fb257bce2b5ef0253f41c1fb5249d8c16dde6cf116d196
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.0
huggingface-hub==0.28.1
idna==3.3
importlib-metadata==5.0.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipynb-py-convert==0.4.6
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
it_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.8.0/it_core_news_sm-3.8.0-py3-none-any.whl#sha256=3f617bf9a8ae0418953cf1fbf014e10272684c4229e882a7fd748b637d0100bf
itsdangerous==2.1.2
ja_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.8.0/ja_core_news_sm-3.8.0-py3-none-any.whl#sha256=65693016b7cf33ffa845af3523a9c9b8d9aabae85dfc2e46731513a5e03def04
jax==0.4.10
jedi==0.18.0
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab-pygments==0.1.2
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
ko_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.8.0/ko_core_news_sm-3.8.0-py3-none-any.whl#sha256=15486b93a22ec8ee43f787390afdb4e2086851573eb12b69dd2c4f2a95b3e0a4
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
libclang==14.0.6
lt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/lt_core_news_sm-3.8.0/lt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c1f709112fd01771c10fbd2fe7e01d9d65712c8bccd9171065a29f91c9dc151e
lxml==4.6.4
marisa-trie==1.2.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.9.4
matplotlib-inline==0.1.2
mdurl==0.1.2
mistune==3.0.2
mk_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/mk_core_news_sm-3.8.0/mk_core_news_sm-3.8.0-py3-none-any.whl#sha256=b6cf76608af1cf785523406b22e932fdc09a4d37c352d668a67639c446e29ad7
ml-dtypes==0.3.2
mlxtend==0.19.0
mpmath==1.2.1
multidict==6.1.0
multiprocess==0.70.13
murmurhash==1.0.12
namex==0.0.8
nb_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/nb_core_news_sm-3.8.0/nb_core_news_sm-3.8.0-py3-none-any.whl#sha256=086f2cfcc1568b2ee49a2ab297f7910f2645ae6892f2d5d15d8b077f5d0bd773
nbclient==0.5.3
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.1
networkx==3.2.1
nl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl#sha256=a76978477821f213ca76a46c686df1b1d41462905d4868bc53eac086adca8b7e
nltk==3.8.1
notebook==7.2.2
notebook_shim==0.2.4
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.2
openai==1.63.0
opencv-python==4.10.0.82
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.13.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.1
pandas==2.2.3
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.1.0
pl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.8.0/pl_core_news_sm-3.8.0-py3-none-any.whl#sha256=9b536db854b0cdb9132a74f68b392b8112ab6030f971bb03282462362a940dbb
platformdirs==2.5.2
plotly==5.13.0
preshed==3.0.9
prometheus-client==0.10.1
prompt-toolkit==3.0.18
propcache==0.2.1
proto-plus==1.26.0
protobuf==3.20.3
psutil==6.1.0
psycopg2==2.9.3
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
ptyprocess==0.7.0
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.1b0
pyee==11.1.1
Pygments==2.17.2
pyLDAvis==3.4.1
pymorphy3==2.0.2
pymorphy3-dicts-ru==2.4.417150.4580142
pymorphy3-dicts-uk==2.4.1.1.1663094765
pyparsing==2.4.7
pyppeteer==2.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2022.2.1
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.1.0
QtPy==1.9.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
ro_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ro_core_news_sm-3.8.0/ro_core_news_sm-3.8.0-py3-none-any.whl#sha256=3cebfba2437131efe95345adcc7ea2131e4463915652df9099c577e618460cd9
rpds-py==0.21.0
rsa==4.9
ru_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.8.0/ru_core_news_sm-3.8.0-py3-none-any.whl#sha256=69978d47b43e2c4f329bebdb155e8e9d3861bba1a58ba25551419dae7d7e07fc
safetensors==0.5.2
scikeras==0.13.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
selenium==4.16.0
Send2Trash==1.8.3
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
sl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/sl_core_news_sm-3.8.0/sl_core_news_sm-3.8.0-py3-none-any.whl#sha256=d6d11f38c917d59b0fe52a15da09963bdc8011d2be288f75371e734065b6911c
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_pkuseg==1.0.0
sqlparse==0.4.2
srsly==2.5.1
statsmodels==0.13.2
streamlit==1.39.0
SudachiDict-core==20250129
SudachiPy==0.6.10
sv_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/sv_core_news_sm-3.8.0/sv_core_news_sm-3.8.0-py3-none-any.whl#sha256=be4929fb30523dca0b6672f999cdbf4d64f165419f1eed0014ca3a36599b8b4d
sympy==1.8
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado==0.10.0
testpath==0.5.0
texttable==1.6.3
thinc==8.3.4
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
toolz==0.12.0
torch==2.1.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.3
trio==0.23.2
trio-websocket==0.11.1
typer==0.15.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uk_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/uk_core_news_sm-3.8.0/uk_core_news_sm-3.8.0-py3-none-any.whl#sha256=d20adb50b42c0dcfdedf4994dabcb96789a64983a9ab560d0c6c38a59e8efb58
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.11
validate-email==1.3
validators==0.22.0
wasabi==1.1.3
wcwidth==0.2.5
weasel==0.4.1
webcolors==24.11.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.0.3
xlrd==2.0.1
xxhash==3.5.0
yarl==1.18.3
zh_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.8.0/zh_core_web_sm-3.8.0-py3-none-any.whl#sha256=7de3bd267176b9b2a8defb6997c1cd296da16c57b5e712f72ea44a51755421c8
zipp==3.15.0
